@import 'fonts.css';
body {
    font-family: 'Open Sans';
}
.non-display {
    display: none;
}
.header-background {
    background-image: url(../images/header.jpg);
    position: relative;
    background-size: cover;
    background-position: 0 10%;
    padding-bottom: 170px;
}

.header-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}


/* ============= NAV =============== */

.menu-bar {
    position: relative;
    background: white;
    padding: 20px 0;
    color: #212121;
    z-index: 3;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu__item {
    margin-left: 37px;
}

.menu__item a {
    font-size: 18px;
    color: #212121;
}

.menu__item a:hover {
    text-decoration: none;
    color: #cecece;
}


/* ================== HEADER ================== */

.header {
    text-align: center;
    position: relative;
    margin-top: 182px;
    z-index: 3;
    color: white;
}

.header__title {
    font-size: 55px;
    font-family: 'Open Sans Semibold';
}

.header__text {
    font-size: 20px;
    margin-bottom: 100px;
}

.button {
    font-family: 'Open Sans Semibold';
    padding: 10px 25px;
    margin: 0 10px;
    color: white;
    transition: 0.3s;
}

.button_empty {
    background: transparent;
    border: 2px solid white;
}

.button_full {
    background: #00897b;
    border: 2px solid #00897b;
}

.button_empty:hover,
.button_full:hover {
    border: 2px dotted white;
    background: #075c53;
}

/* ============= ABOUT US ================ */
.about {
    padding-top:120px;
    padding-bottom: 125px;
    color:black;
    background:white;
    text-align: center;
}
.about__top-title {
    font-size: 30px;
    color: #212121;
    font-family: 'Open Sans Semibold';
    margin-bottom: 15px;
}
.about__top-text {
    font-size: 15px;
    color: #212121;
    margin-bottom: 110px;
}

.about__title {
    margin-top:30px;
    margin-bottom:15px;
    color: #212121;
    font-size: 20px;
    font-family: 'Open Sans Semibold';
}
.about__text{
    font-size: 15px;
    color: #212121;
}
/* =================== SERVICES ========================= */
.services {
    padding-top:160px;
    padding-bottom: 125px;
    color:black;
    background:#e4fdf9;
    text-align: center;
}
.our_card {
    background: white;
    padding:50px 30px 40px 30px;
    transition: 0.3s ease-in-out;
    margin-bottom: 32px;
}
.our_card:hover {
    color:white;
    background: #00897b;
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.48);;
}
.our_card:hover .services__title {
    color:white;
}
.our_card:hover .services__text {
    color:white;
}
.our_card:hover .button-services {
    color:white;
    border-color: white;
}
.services__title {
    margin-top:30px;
    margin-bottom:15px;
    color: #212121;
    font-size: 20px;
    font-family: 'Open Sans Semibold';
    margin-top:30px 0 0 22px;
}
.services__text{
    font-size: 15px;
    color: #212121;
}
.button-services {
    text-transform:uppercase;
    border:1.5px solid black;
    background: transparent;
    padding: 12px 16px 13px;
    font-family: 'Open Sans Semibold';
    letter-spacing: 1px;
    margin-top:40px;
    cursor: pointer;
}

/* ============== PORTFOLIO ============= */
.portfolio {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 135px;
}
.portfolio .portfolio-buttons button {
    margin-right:10px;
    margin-left:10px;
    margin-top:0;
    padding: 11px 22px 12px;
    border:1.5px solid #00897b;
    transition:0.3s ease-in-out;
}
.portfolio .portfolio-buttons button:hover {
    color:white;
    background: #00897b;
}
.portfolio-buttons .active {
    color:white;
    background: #00897b;
}
.portfolio-images {
    margin-top:120px;
    margin-bottom:90px;
}
.portfolio-images div {
    margin-bottom:30px;
}
.portfolio__all .button_all{
    padding: 12px 45px 12px;
    border:1.5px solid #00897b;
    background: transparent;
    font-family: 'Open Sans Semibold';
    transition:0.3s ease-in-out;
}
.portfolio__all .button_all:hover {
    color:white;
    background: #00897b;
}
div[filter]:hover img {
    filter:brightness(50%);
    transition: 0.3s ease-in-out;
}
.text {
    display:none;
}
div[filter]:hover .text {
    display:block;
    width:100%;
    color:white;
    position:absolute;
    top:40%;
    z-index: 3;
    text-align: center;
}

/* ============= PRICING PLAN ================== */
.pricing {
    text-align: center;
    padding-top:125px;
    padding-bottom: 125px;
    color: #212121;
    background:#f0f0f0;
}
.pricing_card {
    background: #fff;
    transition: 0.2s ease-in-out;
}
.pricing_card:hover {
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.5);
}
.pricing__head {
    background-image: url(../images/card_head.svg);
    padding-top:40px;
    padding-bottom:65px;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 211px;
    color:white;
    font-size: 50px;
}
.pricing__head sub {
    font-size: 19px;
    letter-spacing: 0.85px;
    vertical-align: middle;
}
.pricing__head sup {
    font-size: 25px;
    font-weight: 400;
    vertical-align: middle;
}
.pricing__head p {
    font-size: 30px;
}

.pricing__body {
    margin-top: 45px;
    margin-bottom:60px;
    color: #212121;
    padding:0px 95px;
}
.pricing__body ul li{
    font-size: 17px;
    color: #212121;
    padding-bottom:10px;
    margin-bottom:27px;
    border-bottom:1px solid #c5c2c2;
}
.pricing__footer {
    padding-top:20px;
    padding-bottom: 60px;
}
.pricing__footer button {
    border:1.5px solid black;
    padding:15px 35px;
    background: transparent;
    transition: 0.3s ease-in-out;
}
.pricing__footer button:hover {
    border:1.5px solid #00897b;
    background: #00897b;
    color:white;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.46);
}

/* ================ TEAM ================== */
.team {
    text-align: center;
    padding-top:120px;
    padding-bottom:120px;
}
.team h4 {
    font-size:24px;
    font-family: 'Open Sans Semibold';
    margin-top:30px;
}
.team p {
    font-size:14px;
    font-family: 'Open Sans Semibold';
    margin-bottom: 20px;
}
.icons {
    display: flex;
    justify-content: center;
}
.workers {
    margin-top: 125px;
}
.slick-slide img {
    display: inline;
}
.icons a i {
    transition:0.2s ease-in-out;
}
.icons i:nth-child(1) {
    color:#f0f1f1;
}
.icons i:nth-child(2) {
    color:#00897b;
}

.icons a:hover i:nth-child(1) {
    color:#3949ab;
}
.icons a:hover i:nth-child(2) {
    color:#fff;
}
.dots-style {
    margin-top:115px;
    display:flex;
    justify-content:center;
}
.dots-style button {
    background: #00897b;
    border:none;
    border-radius: 50%;
    font-size: 0;
    height: 15px;
    width:15px;
    margin:5px;
}
.dots-style li[class="slick-active"] button {
    background:#3949ab;
    outline:none;
}
.dots-style li[class="slick-active"] button:focus, 
.dots-style li[class="slick-active"] button:active {
    outline:none;
}
/* ========= BLOG ============ */
.left > div:first-child {
    order:1;
}
.left > div:last-child {
    order:2;
}
.right > div:first-child {
    order:2;
}
.right > div:last-child {
    order:1;
}
.blog-post{
    padding-top:60px;
    text-align: left;
}
.blog-post a{
    color: #00897b;
    font-size: 25px;
    letter-spacing: 1.25px;
}
.blog-post div {
    margin-top: 30px;
    margin-bottom:25px;
    width:240px;
    display:flex;
    justify-content: space-between;
}
.blog_butt {
    margin-top: 125px;
}

/* ============== CONTACT US ==============*/
.footer {
    text-align: center;
    padding: 125px 0 110px;
    background-image: url(../images/bcg_contact.jpg);
    background-size:cover ;
    position: relative;
}
.footer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(22, 22, 22, 0.83);
    z-index: 2;
}
.contact_us {
    color: white !important; 
    z-index: 3;
    position: relative;
}
.contact__top-title {
    font-size: 35px;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-bottom: 35px;
}
.contact__top-text {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.75px;
}
.contact_icons {
    margin-top: 100px;
    margin-bottom: 82px;
}
.item_icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;   
}
.item_icons :not(.circle) {
    margin-top:30px;
    margin-bottom: -30px;
}
.fa-map-marker-alt, 
.fa-phone-alt,
.fa-envelope {
    color:white;

}
.circle {
    border-radius:50%;
    background: #3c4cac;
    width:145px !important;
    height:145px !important;
    padding-bottom: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form input[type="text"]{
    width:100%;
    border-radius: 10px;
    background-color: #ffffff;
    height: 84px;
    border:none;
    margin-top: 25px;
    margin-bottom: 30px;
    padding:10px;
    outline:none;
    font-size: 18px;
}
.form textarea {
    border-radius: 10px;
    background-color: #ffffff;
    border:none;
    margin-bottom: 38px;
    outline:none;
    resize: none;
    padding:10px;
    font-size: 18px;
    width:100%;
}
.form input[type="submit"] {
    width: 220px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 10px;
    border:none;
    outline:none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.form input[type="submit"]:hover {
    opacity: 0.7;
}

.second-footer{
    text-align: center;
    padding-top:22px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
}

/* ============== Media Requests =============== */
@media screen and (max-width: 992px) {
    .blog {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .blog-post {
        padding-top: 5px ;
    }
    .right, .left {
        margin-top:15px !important;
        margin-bottom: 15px !important;
    }
    .team {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .portfolio {
        padding-top: 100px;
        padding-bottom: 80px;
    }
    .services {
        padding-top: 90px;
        padding-bottom: 80px;
    }
    .about__top-text {
        margin-bottom: 80px;
    }
    .pricing {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .pricing__body {
        margin-top: 35px;
        margin-bottom:40px;
        padding:0px 15px;
    }
    .about__text {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px) { 
    textarea {
        margin-top: 30px;
    }
    .marker {
        font-size: 60px;
    }
    .circle-down-text {
        font-size: 12px;
    }
    .left {
        align-items: center;
        flex-direction: column;
    }
    .right {
        align-items: center;
        flex-direction: column;    
    }
    .left > div:first-child {
        order:2;
        margin-bottom: 35px;
    }
    .left > div:last-child {
        order:1;
    }
    .right > div:first-child {
        order:2;
        margin-bottom: 35px;
    }
    .right > div:last-child {
        order:1;
    }
    .blog-post div {
        margin-top: 10px;
    }
    .icons .fab {
        font-size: 34px;
    } 
    .icons .fas {
        font-size: 64px;
    } 
    .icons span {
        width:60px;
    }
    .workers {
        margin-top: 50px;
    }
    .dots-style {
        margin-top: 50px;
    }
    .sm-card {
        display:flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .card-container {
        justify-content: center !important;
    }
    .portfolio-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .portfolio-buttons button {
        margin-bottom: 8px;
    }
    .portfolio {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .portfolio-txt {
        margin-bottom: 40px;
    }
    .portfolio-images {
        margin-top: 50px;
    }
}