@import 'fonts.css';
body {
    font-family: 'Open Sans';
}
.non-display {
    display: none;
}
.header-background {
    background-image: url(../images/header.jpg);
    position: relative;
    background-size: cover;
    background-position: 0 10%;
    padding-bottom: 170px;
}

.header-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}


/* ============= NAV =============== */

.menu-bar {
    position: relative;
    background: white;
    padding: 20px 0;
    color: #212121;
    z-index: 3;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu__item {
    margin-left: 37px;
}

.menu__item a {
    font-size: 18px;
    color: #212121;
}

.menu__item a:hover {
    text-decoration: none;
    color: #cecece;
}


/* ================== HEADER ================== */

.header {
    text-align: center;
    position: relative;
    margin-top: 182px;
    z-index: 3;
    color: white;
}

.header__title {
    font-size: 55px;
    font-family: 'Open Sans Semibold';
}

.header__text {
    font-size: 20px;
    margin-bottom: 100px;
}

.button {
    font-family: 'Open Sans Semibold';
    padding: 10px 25px;
    margin: 0 10px;
    color: white;
    transition: 0.3s;
}

.button_empty {
    background: transparent;
    border: 2px solid white;
}

.button_full {
    background: #00897b;
    border: 2px solid #00897b;
}

.button_empty:hover,
.button_full:hover {
    border: 2px dotted white;
    background: #075c53;
}

/* ============= ABOUT US ================ */
.about {
    padding-top:120px;
    padding-bottom: 125px;
    color:black;
    background:white;
    text-align: center;
}
.about__top-title {
    font-size: 30px;
    color: #212121;
    font-family: 'Open Sans Semibold';
    margin-bottom: 15px;
}
.about__top-text {
    font-size: 15px;
    color: #212121;
    margin-bottom: 110px;
}

.about__title {
    margin-top:30px;
    margin-bottom:15px;
    color: #212121;
    font-size: 20px;
    font-family: 'Open Sans Semibold';
}
.about__text{
    font-size: 15px;
    color: #212121;
}
/* =================== SERVICES ========================= */
.services {
    padding-top:160px;
    padding-bottom: 125px;
    color:black;
    background:#e4fdf9;
    text-align: center;
}
.our_card {
    background: white;
    padding:50px 30px 40px 30px;
    transition: 0.3s ease-in-out;
    margin-bottom: 32px;
}
.our_card:hover {
    color:white;
    background: #00897b;
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.48);;
}
.our_card:hover .services__title {
    color:white;
}
.our_card:hover .services__text {
    color:white;
}
.our_card:hover .button-services {
    color:white;
    border-color: white;
}
.services__title {
    margin-top:30px;
    margin-bottom:15px;
    color: #212121;
    font-size: 20px;
    font-family: 'Open Sans Semibold';
    margin-top:30px 0 0 22px;
}
.services__text{
    font-size: 15px;
    color: #212121;
}
.button-services {
    text-transform:uppercase;
    border:1.5px solid black;
    background: transparent;
    padding: 12px 16px 13px;
    font-family: 'Open Sans Semibold';
    letter-spacing: 1px;
    margin-top:40px;
    cursor: pointer;
}

/* ============== PORTFOLIO ============= */
.portfolio {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 135px;
}
.portfolio .portfolio-buttons button {
    margin-right:10px;
    margin-left:10px;
    margin-top:0;
    padding: 11px 22px 12px;
    border:1.5px solid #00897b;
    transition:0.3s ease-in-out;
}
.portfolio .portfolio-buttons button:hover {
    color:white;
    background: #00897b;
}
.portfolio-buttons .active {
    color:white;
    background: #00897b;
}
.portfolio-images {
    margin-top:120px;
    margin-bottom:90px;
}
.portfolio-images div {
    margin-bottom:30px;
}
.portfolio__all .button_all{
    padding: 12px 45px 12px;
    border:1.5px solid #00897b;
    background: transparent;
    font-family: 'Open Sans Semibold';
    transition:0.3s ease-in-out;
}
.portfolio__all .button_all:hover {
    color:white;
    background: #00897b;
}
